{% extends "layout.html" %}

{% block content %}

<h1>Создание нового поста</h1>

<form action="" method="POST">
	{{form.hidden_tag()}}
	{% for error in form.errors.name %}
		<span style="color: red;">[Заголовок должен быть обязательным]</span><br>
	{% endfor %}
	{% for error in form.errors.text %}
		<span style="color: red;">[Текст должен быть обязательным]</span><br/>
	{% endfor %}
	<table>
	<tr>
		<td>{{form.name.label}}</td> 
		<td>{{form.name(size=50)}}</td>
	</tr>
	<tr>
		<td>{{form.text.label}}</td> 
		<td>{{form.text(rows=5, cols=39)}}</td>
	</tr>
	</table>
	<br>
	<input type="submit" value="Сохранить">
</form>

{% endblock %}