<!DOCTYPE html>
<html lang="ru">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - Микроблог</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	{% endblock %}
</head>
<body>
    <div class="page">
	<header>
		{% block header %}
		Микроблог <a href="/index">Главная</a>
		| <a href="/create">Новый пост</a> 
		| <a href="/manage">Менеджер записей</a>
		{% endblock %}

        <div class="login">
            {% if not session.logged_in %}
                <a href="{{url_for('login')}}">Вход</a>
            {% else %}
                <a href="{{url_for('logout')}}">Выход</a>
            {% endif %}
        </div>

	</header>
	<div id="content">
		{% block content %}
		Здесь будут посты
		{% endblock %}
	</div>
	<footer>
		{% block footer %}
		&copy; Совсем ничего не защищено
		{% endblock %}
	</footer>
    </div>
</body>
</html>